<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Embouteillage
Version    : 1.0
Released   : 200800204
Description: Three-column blog design with the third column allocated for ads. Features Web 2.0 design ideal for 1024x768 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Street Tuners</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
<!-- start header -->
<div id="wrapper">
<div id="header">
	<div id="logo">
		<h1><a href="#">STREET TUNERS</a></h1>
		<p><a href="http://www.freecsstemplates.org/">Show Cars Street Tuners</a></p>
	

			<fieldset>
				<input type="text" name="s" id="s" size="15" value="" />
				<input type="submit" id="x" value="Search" />
			</fieldset>
		</form>
	</div>
</div>
<!-- end header -->
<!-- star menu -->
<div id="menu">
	<ul>
		<li class="current_page_item"><a href="#">Home</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>
<!-- end menu -->

<!-- start page -->
<div id="page">
	<!-- start ads -->
	<div id="ads"><a href="#"><img src="images/ad160x600.gif" alt="" width="160" height="600" /></a></div>
	<!-- end ads -->
	<!-- start content -->
	<div id="content">
		<div class="post">
			<div class="title">
				<h2><a href="#">Show Cars</a></h2>
				<p><small>Nov/20/2015 <a href="#">Lo mejor del Tuning y Racing</a></small></p>
			</div>
			<div class="entry">
				<p><img src="images/img06.jpg" alt="" width="120" height="120" class="left" />Lo mejor<strong>STREET TUNERS</strong>, mas que un club una familia unida por el mismo sentimiento de los autos Tuning y Racing <a href="http://www.StreetTuners.org/">Street Tuners Club</a>. lo mejor de lo mejor en eventos de autos<a href="http://ShowCarsStreetTuners.org/licenses/by/2.5/"> Se bienen grandes eventos</a> lo mejor esta por venir para todos los amantes del auto motor.. Abran Show Tuning, Racing, Audio libre y muchas cosas mas.</p>
				
			</div>
			<p class="links"> <a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">No Comments</a> </p>
		</div>
		<div class="post">
			<div class="title">
				<h2><a href="#">Lorem Ipsum Dolor Sit Amit </a></h2>
				<p><small>Posted on August 20th, 2007 by <a href="#">Free CSS Templates</a></small></p>
			</div>
			<div class="entry">
				<p>Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra  vulputate enim. Vivamus fermentum nibh in augue. Praesent a lacus at  urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius  non, nibh. Quisque semper augue mattis wisi. Maecenas ligula.  Pellentesque viverra vulputate enim.</p>


			</div>
			<p class="links"> <a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">No Comments</a> </p>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id="coments">
				<h2>Coments</h2>
				<ul>
<% @users.each do |user| %>
				<form class='contacto'>
            <div><label>Nombre:</label> <%= user.Name %></div>
            <div><label>Usuario:</label> <%= user.Id_Name %> </div>
            <div><label>Edad:</label> <%= user.Age %></div>
            <div><label>Mensaje:</label><%= user.Message %> </div>
            <div><label>Fecha y Hora:</label><%= user.my_datetime %> </div>
            
         <%= link_to 'Show', user %>
       <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </form>
    
<% end %>

<%= link_to 'New Coments', new_user_path %>
				</ul>
			</li>




			<li id="calendar">
				<h2>Calendar</h2>
				<div id="calendar_wrap">
					<table id="wp-calendar" summary="Calendar">
						<caption>
						August 2007
						</caption>
						<thead>
							<tr>
								<th abbr="Monday" scope="col" title="Monday">M</th>
								<th abbr="Tuesday" scope="col" title="Tuesday">T</th>
								<th abbr="Wednesday" scope="col" title="Wednesday">W</th>
								<th abbr="Thursday" scope="col" title="Thursday">T</th>
								<th abbr="Friday" scope="col" title="Friday">F</th>
								<th abbr="Saturday" scope="col" title="Saturday">S</th>
								<th abbr="Sunday" scope="col" title="Sunday">S</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td abbr="July" colspan="3" id="prev"><a href="#">&laquo; Jul</a></td>
								<td class="pad">&nbsp;</td>
								<td abbr="September" colspan="3" id="next" class="pad"><a href="#">Sep &raquo;</a></td>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td colspan="2" class="pad">&nbsp;</td>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
								<td>5</td>
							</tr>
							<tr>
								<td>6</td>
								<td>7</td>
								<td>8</td>
								<td>9</td>
								<td>10</td>
								<td>11</td>
								<td>12</td>
							</tr>
							<tr>
								<td>13</td>
								<td>14</td>
								<td>15</td>
								<td>16</td>
								<td>17</td>
								<td>18</td>
								<td>19</td>
							</tr>
							<tr>
								<td>20</td>
								<td id="today">21</td>
								<td>22</td>
								<td>23</td>
								<td>24</td>
								<td>25</td>
								<td>26</td>
							</tr>
							<tr>
								<td>27</td>
								<td>28</td>
								<td>29</td>
								<td>30</td>
								<td>31</td>
								<td class="pad" colspan="2">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				
		</ul>
	</div>
	<!-- end sidebar -->
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p class="legal">
		&copy;2007 Embouteillage. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a>. </p>
	<p class="links">
		<a href="http://validator.w3.org/check/referer" class="xhtml" title="This page validates as XHTML">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>
		&nbsp;&bull;&nbsp;
		<a href="http://jigsaw.w3.org/css-validator/check/referer" class="css" title="This page validates as CSS">Valid <abbr title="Cascading Style Sheets">CSS</abbr></a>
	</p>
</div>
</div>
<!-- end footer -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
